*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

header{

    background-image: url('../images/Inicio_novo.svg');
    min-height: 450px;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
}

.container{

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo{
    
    position: relative;
    background-image: url('../images/Logo2.svg');
    z-index: 2;
    background-size: 100% 100%;
    width: 100px;
    height: 70px;
    float: left;
}

.menu-desktop{

    float: right;
}

.menu-desktop ul{

    list-style: none;
}

.menu-desktop li{

    display: inline-block;
    margin: 0 15px;
}

nav.menu-desktop a{

    color: white;
    text-decoration: none;
    font-size: 21px;
}

.menu-mobile{

    float: right;
    display: none;
}

.menu-mobile ul{

    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    padding: 70px 0 30px 0;
    display: none;
    text-align: center;
    background-color: rgba(203, 21, 133, 0.6);
}

.menu-mobile i{

    position: relative;
    z-index: 2;
}

.menu-mobile a{

    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 21px;
}

.menu-mobile li{

    padding: 10px 0;
}

.chamada{

    padding: 150px 0;
}

.chamada h2{

    color: #e789c3;
    font-size: 45px;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(165, 67, 100, 0.313);
    border-radius: 800px;
    width: 665px;
   
}

.chamada p{

    color: #ffffff;
    font-size: 23px;
    margin-top: 10px;
}

.chamada form{

    margin-top: 15px;
}

.chamada input[type="email"]:focus{outline: 0;}

.chamada input[type="email"]{

    width: 300px;
    height: 41px;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;
    border: 0;
    padding-left: 10px;
    font-size: 23px;
}

.chamada input[type="submit"]{

    width: 180px;
    height: 41px;
    border-radius: 100px;
    background-color: rgba(228, 35, 186, 0.6);
    color: #ffffff;
    cursor: pointer;
    border: 0;
    font-size: 23px;
}

.descricao{

    text-align: center;
    padding: 30px 0;
}

.descricao p{

    font-size: 25px;
    font-style: italic;
}

.descricao b{

    color: palevioletred;
    font-size: 27px;
}

.texto-descricao{

    padding: 0 15px;
    float: left;
    width: 50%;
}

.texto-descricao h3{

    color: #ac1a74;
    font-size: 25px;
    line-height: 33px;
    margin-top: 25px;

}

.texto-descricao p{

    margin-top: 20px;
    font-size: 20px;

}

.descricao2 img{

    width: 40%;
    float: left;
}

.clear{

    clear: both;
}

.descricao3{

    padding: 30px 0 70px 0;

}

.descricao3 > .container{

    background-image: url('../images/depoimento.svg');
    background-size: cover;
    position: relative;
    min-height: 350px;
}



.depoimento{

    position: absolute;
    background-color: white;
    left: 60%;
    bottom: -30px;
    max-width: 507px;
    padding: 40px;
    box-shadow: 0 8px 20px 0 rgba(51 , 45, 45, 0.8);
}

.depoimento b{

    font-size: 19px;
    color: rgba(250, 0, 187, 0.607);
}

/* .servicos{

    margin-top: 80px;
} */

.titulo-servicos{

    text-align: center;
}

.combo-produtos{

    display: flex;
    flex-wrap: wrap;
}

.espaco-produtos{

    display: flex;
    width: 33%;
    padding: 35px;
}

.espaco-produtos p{

    margin: 9px 0;
}

.espaco-produtos a{

    display: inline-block;
    border: 1px solid rgb(230, 85, 199);
    color: #31475e;
    font-size: 19px;
    text-decoration: none;
    padding: 6px 13px;
    border-radius: 20px;

}

.box-produtos{

    border-radius: 3px;
    height: 100%;
    box-shadow: 0 8px 20px 0 rgba(175, 8, 117, 0.8);
    padding: 5px;
}

.formulario h2{

    text-align: center;
}

.formulario form{

    margin-top: 10px;
}

.formulario input[type=text]{

    width: 100%;
    height: 40px;
    border: 1px solid rgb(155, 15, 109);
    border-radius: 100px;
    margin-top: 10px;
    padding: 10px;
}

.formulario textarea{

    width: 100%;
    height: 130px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid rgb(234, 121, 209);
}

footer{

    margin: 50px 0;
    border-top: 1px solid rgb(217, 82, 174);
}

.box-footer{

    margin: 20px 0;
    float: left;
    width: 33.3%;
    padding: 0 15px;
}

.box-footer p{

    margin-top: 15px;
    font-size: 21px;
}

.box-footer input[type=text]{

    width: 80%;
    padding-left: 10px;
    max-width: 190px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid rgb(236, 66, 200);
}

.box-footer button{

    margin-left: 10px;
    max-width: 60px;
    height: 45px;
    border: 1px solid rgb(243, 59, 160);
    border-radius: 50px;
    background-color: #ffffff;
    width: 70px;
}

.form input[type="submit"]{

    width: 180px;
    height: 41px;
    border-radius: 100px;
    background-color: rgba(222, 50, 185, 0.5);
    color: #ffffff;
    cursor: pointer;
    border: 0;
    font-size: 23px;
}

/* Abaixo código de responsividade */
/* definindo para tablet e desktop */
@media screen and ( max-width: 1024px) {

    .depoimento{

        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        padding: 30px;
        width: 90%;
        transform: translate(-50%, -50%);
    }

    .espaco-produtos{

        width: 100%;
        margin: 0 auto;
        max-width: 400px;
        padding: 10px;
    }

    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .chamada{
        text-align: center;
    }

    .chamada input[type="email"]{
        margin-bottom: 10px;
    }
    
    .box-footer{

        text-align: center;
        width: 100%;
        margin-bottom: 15px;

    }

}

/* definindo medidas para celulares */
@media screen and ( max-width: 768px) {

    .texto-descricao{

        width: 100%;
        display: block;
        float: none;
    }

    .descricao2 img{

        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
        margin-top: 10px;
        max-width: 500px;
    }

}